name: CI
on: 
    push:
        branches-ignore:
            - 'release/**'
            - main
    pull_request:
        branches: [main, develop]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    lint:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/shared
            - run: npm run lint
    test:
        needs: lint
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4
            - uses: ./.github/actions/shared
            - run: npm test
            - run: npm run build
